html {
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #212121;
    color: #fff;
}

.guesses, .lastResult {
    color: #fff;
    padding: 5px;
    background-color: #555;
    border-radius: 5px;
    margin: 5px 0;
}

#subt {
    background-color: #4CAF50;
    color: #ffffff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#subt:hover {
    background-color: #45a049;
}

#guessField {
    color: #000;
    width: calc(100% - 22px);
    height: 40px;
    font-size: 18px;
    border: 2px solid #6c6d6d;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

#guess {
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}

#wrapper {
    box-sizing: border-box;
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.resultParas {
    margin-top: 20px;
}

.resultParas p {
    margin: 5px 0;
}

.lowOrHi {
    font-weight: bold;
}
